<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head(title)">
    <title th:text="${title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/info.css" rel="stylesheet">
    <link href="/static/css/infopic.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/piccontent.min.js" type="text/javascript"></script>
    <script src="/static/js/comm.js" type="text/javascript"></script>
    <script src="/static/js/scrollReveal.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="/static/js/modernizr.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body>
<header class="header-navigation" id="header" th:fragment="common-header">
    <nav>
        <div class="logo"><a href="/">杨青个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/web/index">网站首页</a></li>
            <li><a href="/web/share">我的相册</a></li>
            <li><a href="/web/list">我的日记</a></li>
            <li><a href="/web/about">关于我</a></li>
            <li><a href="/web/gbook">留言</a></li>
            <li><a href="/web/info">日记详情页</a></li>
            <li><a href="/web/infopic">相册详情页</a></li>
        </ul>
    </nav>
</header>
</body>
</html>