<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.dao.AboutMeMapper">
  <resultMap id="BaseResultMap" type="com.model.AboutMe">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="thumbnail" jdbcType="INTEGER" property="thumbnail" />
    <result column="sketch" jdbcType="VARCHAR" property="sketch" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.model.AboutMe">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, thumbnail, sketch
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from about_me
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from about_me
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.AboutMe">
    insert into about_me (id, thumbnail, sketch, 
      content)
    values (#{id,jdbcType=INTEGER}, #{thumbnail,jdbcType=INTEGER}, #{sketch,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.AboutMe">
    insert into about_me
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="thumbnail != null">
        thumbnail,
      </if>
      <if test="sketch != null">
        sketch,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="thumbnail != null">
        #{thumbnail,jdbcType=INTEGER},
      </if>
      <if test="sketch != null">
        #{sketch,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.AboutMe">
    update about_me
    <set>
      <if test="thumbnail != null">
        thumbnail = #{thumbnail,jdbcType=INTEGER},
      </if>
      <if test="sketch != null">
        sketch = #{sketch,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.model.AboutMe">
    update about_me
    set thumbnail = #{thumbnail,jdbcType=INTEGER},
      sketch = #{sketch,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.AboutMe">
    update about_me
    set thumbnail = #{thumbnail,jdbcType=INTEGER},
      sketch = #{sketch,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>